@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Rye&display=swap');

*{
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --cor0: #838383;
    --cor1: #5a5a5a;
    --cor2: #2b2b2b;
    --cor3: #ff6b00;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    background-color: var(--cor1);
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px black;
    border-radius: 12px;
}

header h1{
    color: var(--cor3);
    margin: 0;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    font-family: Rye, cursive;
    font-weight: normal;
    font-size: 2.5em;
}

header h1{
    @media (max-width: 1300px){
    font-size: 2em;
    }
}

header nav{
    background-color: var(--cor0);
    position: absolute;
    right: 10px;
    bottom: 0px;
    border-radius: 12px;
    padding: 5px 5px 0px 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px black;
}

header img{
    width: 50px;
    height: 50px;
}

main{
    column-count: 4;
    column-gap: 20px;
    background-color: var(--cor2);
}

main{
    @media (max-width: 1300px){
    column-count: 2;
    column-gap: 20px;
    background-color: var(--cor2);
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    height: 70px;
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 0px 5px black;
}

footer h1{
    margin: auto;
    font-family: Michroma, monospace;
}

footer audio{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.rodape{
    text-align: end;
}

div{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: var(--cor0);
    text-align: justify;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 20px;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;

    h1{
    color: #ff6b00;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 5px black;
    font-family: Rye, cursive;
    font-weight: normal;
    }
    
    li, p{
        font-weight: bold;
        text-align: left;
    }

    h2{
        text-align: left;
        padding: 10px;
        font-weight: bolder;
    }

    h2::before{
    content: '• ';
    }

    img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    flex-shrink: 1;
    }

    video{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    flex-shrink: 1;
    }
}

iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    }

#imganimation1:hover{
    content: url("YouTubeLogo.gif");
}

#imganimation2:hover{
    content: url("GitHubLogo.gif");
}

body{
    background-color: var(--cor2);

}

#hover:hover{
    background-color: var(--cor3);
    transition: background-color 1s ease;
}

#imagemborda{
    border: 20px solid black;
    border-image-source: url('https://cdn.discordapp.com/attachments/1445865239571726396/1507888468729270395/colenikol-color-4901.gif?ex=6a138a12&is=6a123892&hm=429aedc658e4c1c8d5c5767dc575e4e08fa80ad680aab44594d07c08cda737dc&');
    border-image-slice: 20;
}

#macaquinho:hover{
    content: url('https://cdn.discordapp.com/attachments/1445865239571726396/1507920171673718925/monkey-cymbals.gif?ex=6a13a798&is=6a125618&hm=47bf5bc06b352919bfd6dede544bf7d96a84cd8210dfd39c0b6071081aaf1c0f&');
}

#backgroundimage{
    background-image: linear-gradient(to right, white, transparent);
}

#emoji::after{
    content: '\1F517';
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
}